# Goeduhub | Task - 8 (Multiple Linear Regression) | Reg - ID : GO_STP_2134 |  
---


### Task- Predicting a Startups Profit/Success Rate using Multiple Linear Regression in Python

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Read Data using Pandas

In [33]:
df=pd.read_csv(r'E:\Goeduhub_ML_Program_May_20\data\50_Startups.csv')

In [34]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [5]:
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [6]:
df.shape

(50, 5)

In [7]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

### Checking for null values if any

In [8]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

### Converting Categorical data to numerical data

In [9]:
df['State'].value_counts()

California    17
New York      17
Florida       16
Name: State, dtype: int64

In [10]:
df['State']=df['State'].astype('category')

In [11]:
df['states']=df['State'].cat.codes

In [12]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit  states
0  165349.20       136897.80        471784.10    New York  192261.83       2
1  162597.70       151377.59        443898.53  California  191792.06       0
2  153441.51       101145.55        407934.54     Florida  191050.39       1
3  144372.41       118671.85        383199.62    New York  182901.99       2
4  142107.34        91391.77        366168.42     Florida  166187.94       1

In [19]:
df.drop('State',axis=1,inplace=True)

In [20]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'states'], dtype='object')

### Splitting Dependent and Independent variables

In [35]:
y=df['Profit']
df.drop('Profit',axis=1,inplace=True)
x=df

In [22]:
x.head()

   R&D Spend  Administration  Marketing Spend  states
0  165349.20       136897.80        471784.10       2
1  162597.70       151377.59        443898.53       0
2  153441.51       101145.55        407934.54       1
3  144372.41       118671.85        383199.62       2
4  142107.34        91391.77        366168.42       1

In [23]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

### Train and Test split using sklearn

In [26]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.25)

### Training the model

In [27]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
model=lr.fit(xtrain,ytrain)

In [98]:
xtest

    R&D Spend  Administration  Marketing Spend  states
29   65605.48       153032.06        107138.38       2
27   72107.60       127864.55        353183.81       2
18   91749.16       114175.79        294919.57       1
41   27892.92        84710.77        164470.71       1
9   123334.88       108679.17        304981.62       0
24   77044.01        99281.34        140574.81       2
13   91992.39       135495.07        252664.93       0
25   64664.71       139553.16        137962.62       0
33   55493.95       103057.49        214634.81       1
30   61994.48       115641.28         91131.24       1
42   23640.93        96189.63        148001.11       0
31   61136.38       152701.92         88218.23       2
23   67532.53       105751.03        304768.73       1

### Testing the model

In [28]:
ypred=model.predict(xtest)
ypred

array([ 74561.34119859, 114255.01579077, 135088.00714934, 152685.82950358,
       149588.4602449 , 174660.96642053, 116197.25629646, 154351.12571133,
       116771.78936948, 112852.86591518, 101305.55362461, 101448.51501875,
       164343.65700441])

In [29]:
yact=ytest
yact

41     77798.83
19    122776.86
10    146121.95
8     152211.77
14    132602.65
3     182901.99
27    105008.31
9     149759.96
16    126992.93
24    108552.04
25    107404.34
28    103282.38
5     156991.12
Name: Profit, dtype: float64

### Accuracy

In [30]:
from sklearn.metrics import r2_score

In [31]:
print('r2_score:',r2_score(yact,ypred))

r2_score: 0.9050810085494749

In [36]:
from sklearn.metrics import mean_squared_error as m
mse=m(yact,ypred)